
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Ajouter Produit</title>
</head>
<body>
    <a routerLink="">Liste des Produits</a>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <fieldset>
            <legend>Affecter la commande <span style="color:red">{{nomp}}</span></legend>
            <label>Nom</label><br>
            <input type="text" name="nom" ngModel><br>

            <label>Prenom</label><br>
            <input type="text" name="prenom" ngModel><br>
            <label>E-mail</label><br>
            <input type="email" name="email" ngModel><br>
            <label>Telephone</label><br>
            <input type="tel" name="tel" ngModel><br>
            <label>Quantité de produit</label><br>
            <input type="number" name="quantite" ngModel><br><br>
            <button type="submit">Affecter La commande</button>
        </fieldset>
    </form>
</body>
</html>

