<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <button mat-button color="accent" routerLink="">Espace Client</button>
        <h4>FITNESS<span style ="color:red">AFQS</span></h4>
        <button mat-button color="accent" routerLink="/ajouterProduits">Ajouter Produit</button>
    </nav>
    <h1> Liste des Produits</h1>
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let f of produits">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{f.payload.doc.data().nom}}</mat-card-title>
                  <mat-card-subtitle>{{f.payload.doc.data().nom}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{f.payload.doc.data().url}}" height="250px;" width="50px;">
                <mat-card-content>
                    <h2>{{f.payload.doc.data().prix}}D</h2>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="btn btn-primary" (click)="modifier(f.payload.doc.id)">Modifier</button>
                  <button mat-button class="btn btn-danger" (click)="supprimer(f.payload.doc.id)">supprimer</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</body>
</html>